<h1>{{ question.question_text }}</h1>

{% if error_message%}
<p><strong> {{error_message}} </strong></p>
{% endif %}{% comment %} polls:vote는 URLconf에서 정의한 URL 패턴 이름 {% endcomment %}
<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %} {% comment %} for문 시작 {% endcomment %} {% for choice in question.choice_set.all %}

    <input type="radio" name="choice" id="choice {{forloop.counter}}" value="{{choice.id}}" />

    <label for="choice{{forloop.counter}}"> {{choice.choice_text}} </label> <br />
    {% endfor %}
    <input type="submit" value="Vote" />
</form>
